.topnav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 23px;
    z-index: 99;
    position: fixed;
    text-align: center;
}

.topnav ul{
    list-style: none;
    overflow: hidden;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
}
.topnav li{
    display: inline-block;
    padding: 10px 20px;
}

.topnav a:not(#logout){
    color: #fff;
    text-decoration: none;
}

.topnav a:hover:not(#logout), .topnav a.active{
    border-bottom: 3px solid red;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -o-transition: all .1s;
}

nav.scrolled ul{
    background-color: rgba(34,34,34,1);
    border-bottom: 3px solid red;
}

/* Mobile View */
@media only screen and (max-width: 830px) {
    nav ul{ max-height: 0px; }
    .topnav li{
        width: 100%;
        padding: 12px 0;
    }
    nav ul li a{ font-size: 20px; }

    /* Mobile Menu Icon*/
    #mobileMenuBG{
        width: 100%;
        height: 50px;
        background-color: rgba(46, 46, 46, 1);
        position: fixed;
        z-index: 98;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -o-transition: all .4s;
        display: flex;
        justify-content: flex-end;
    }
    #mobileMenuIcon{
        margin: auto 0;
        margin-right: 5vw;
        cursor: pointer;
        z-index: 99;
    }

    .showing{
        margin-top: 50px;
        background-color: rgba(34, 34, 34, 0.9);
        max-height: 30em;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -o-transition: all .4s;
    }

    .bar1, .bar2, .bar3{
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -o-transition: all .4s;
    }
    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 9px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {opacity: 0;}
    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-9px, -9px);
      transform: rotate(45deg) translate(-9px, -7px);
    }
    /* end Mobile Menu Icon */

}/* end Mobile View */
