.addForm {
    width: 50%;
    margin: 0 auto;
    display: block;
}
.form-input{
    margin-bottom: 20px;
}
.form-input ul.categoryList{
    list-style: none;
}
.form-input ul input{
    width: auto;
    cursor: pointer;
}
.form-input li{
    width: 50%;
    display: inline-block;
}

.formBtn, .formBtn a{
    font-size: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    transition: all .3s;
}

.formSubmit, .formCancel{
    width: 48%;
    padding: 5px;
    font-weight: bolder;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}
.formSubmit{ border: 2px solid #4CAF50; }
.formCancel{ border: 2px solid #F44336; }

.formSubmit:hover, .formCancel:hover{ color: white; }
.formSubmit:hover{ background-color: #4CAF50; }
.formCancel:hover{ background-color: #F44336; }

/* Back Button */
.backButton{
    display: block;
    width: 100%;
    text-align: center;
}
/* end Back Button */

.categories{ width: 100%;}
.error-message{ text-align: center; }


@media only screen and (max-width: 900px) {
    .addForm{ width: 100%;}
}


/* Mobile View */
@media only screen and (max-width: 830px) {
    .formBtn{ display: block; }
    .formBtn a{
        width: calc(100% - 10px);
    }

    .formSubmit, .formCancel{
        width: 100%;
        border: none;
        color: white;
    }

    .formSubmit{ background-color: #4CAF50; }
    .formCancel{ background-color: #F44336; }
}/* end Mobile View */